<h1>You fell in love with <%=thingVar%></h1>
<% if(thingVar.toLowerCase() === 'puppies'){%>
<p><strong>They really are the best!</strong></p>
<% } else { %>
<p>You should love puppies!</p>
<% } %>
<p>ps this is the love.js file</p>


